body {
    background-color:#ffffff;
    color:#3a3a3a;
    text-align:center;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: url(http://static.stickybits.com/web/images/base_bg.jpg) repeat top left;
    height: 100%;
}

img
{
  border: 0px;
}

a {
    color:#740404;
    text-decoration:underline;
}

hr {
  color: #ada699;
  background-color: #ada699;
  border: none;
  height: 1px;
}

a:hover {
    color:#000000;
    text-decoration:underline;
}

a img { border: none }

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    color:#5d5b56;
    font-weight: normal;
}

td, div
{
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
}

#container
{
  min-height: 100%;
  position: relative;
}

#body
{
  padding-bottom: 142px;
}

#topbg
{
    background: url(http://static.stickybits.com/web/images/base_top_bg.png) repeat-x top left;
    width: 100%;
    height: 67px;
}

#toplogo
{
    background: url(http://static.stickybits.com/web/images/base_top_logo.png) repeat-x top left;
    width: 457;
    height: 116px;
    margin-top: -67px;
    display: block;
    position: relative;
}

#toplogo:focus
{
    outline: none; 
}

#d_signup
{
  position: absolute;
}

#btn_signup
{
  display: block;
  width: 69px;
  height: 29px;
  background: url(http://static.stickybits.com/web/images/btn_signup.png) no-repeat 0 0;

}

#btn_signup:focus
{
    outline: none; 
}

#btn_signup:hover
{ 
  background-position: -71px 0;
}

#btn_signup:active
{ 
  background-position: -142px 0;
}

#d_login
{
  position: absolute;
  left: 75px;
}

#btn_login:focus
{
    outline: none; 
}

#btn_login
{
  display: block;
  width: 69px;
  height: 29px;
  background: url(http://static.stickybits.com/web/images/btn_login.png) no-repeat 0 0;
}

#btn_login:hover
{ 
  background-position: -71px 0;
}

#btn_login:active
{ 
  background-position: -142px 0;
}

#d_logout
{
  position: absolute;
  left: 75px;
}

#btn_logout:focus
{
    outline: none; 
}

#btn_logout
{
  display: block;
  width: 69px;
  height: 29px;
  background: url(http://static.stickybits.com/web/images/btn_logout.png) no-repeat 0 0;
}

#btn_logout:hover
{ 
  background-position: -71px 0;
}

#btn_logout:active
{ 
  background-position: -142px 0;
}

#signup
{
  position: relative;
  margin-top: -76px;
}

#maintop
{
  width: 719px;
  height: 14px;
  background: url(http://static.stickybits.com/web/images/base_main_top.png) no-repeat top left;
}

#mainmid
{
  position: relative;
  background: url(http://static.stickybits.com/web/images/base_main_mid.png) repeat-y top left;
  padding: 10px;
}

#maincontent
{
  color: #000000;
  text-shadow: #ffffff 1px 1px 0px; 
  padding: 10px;
}

#mainbot
{
  width: 719px;
  height: 14px;
  background: url(http://static.stickybits.com/web/images/base_main_bot.png) no-repeat top left;
}

#toolbartop
{
  width: 256px;
  height: 12px;
  background: url(http://static.stickybits.com/web/images/base_toolbar_top.png) no-repeat top left;
}

#toolbarmid
{
  background: url(http://static.stickybits.com/web/images/base_toolbar_mid.png) repeat-y top left;
  color: #000000;
  text-shadow: #ffffff 1px 1px 0px;  
  padding-left: 10px;
}

#toolbarmid a
{
  display: block;
}

#toolbarmid a:focus
{
  outline: none;
}

#toolbarmid a:visited, #toolbarmid a:active, #toolbarmid a:link {
  color: #000000;
  text-decoration: none;
}

#toolbarmid a:hover, #toolbarmid a:visited:hover {
  color: #fd2583;
  text-decoration: none;
}


#toolbarmid ul
{
  padding: 0px;
  margin: 0px;
  z-index: 2;
}

#toolbarmid li
{
  font-size: 18px;
  list-style-type:none; 
  color: #000000;
  text-shadow: #ffffff 1px 1px 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 2;
  position: relative;
}

#selected
{
  z-index: -1;
  position: absolute;
  width: 280px;
  height: 45px;
  background: url(http://static.stickybits.com/web/images/base_toolbar_select.png) no-repeat top left;
  margin-left: -25px;
  margin-top: -7px;
}

@-moz-document url-prefix() {
    #selected {
        margin-top: -10px;
    }
}

#selectedli
{
  color: #ffffff !important;
  text-shadow: none !important;
}

#selectedli a:visited, #selectedli a:active, #selectedli a:link {
  color: #ffffff !important;
  text-decoration: none !important;
}

#selectedli a:hover, #selectedli a:visited:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

#toolbarbot
{
  width: 256px;
  height: 12px;
  background: url(http://static.stickybits.com/web/images/base_toolbar_bot.png) no-repeat top left;
}

#footer
{
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(http://static.stickybits.com/web/images/base_footer_bg.png) repeat-x top left;
  height: 142px;
  width: 100%;
}

#maintbl, #maintbl2, #toparea, #footerright
{
  position: relative;
}

#baselogo
{
  position: absolute;
  margin-top: -32px;
}

#bluedude
{
  position: absolute;
  margin-left: -100px;
  margin-top: 4px;
}

#titletd
{
  background: url(http://static.stickybits.com/web/images/base_title_mid.png) repeat-x top left;
  color: #ff0070;
  font-size: 17px;
}

#title
{
  position: absolute;
  margin-top: -37px;
}

#titletd
{
  background: url(http://static.stickybits.com/web/images/base_title_mid.png) repeat-x top left;
  color: #ff0070;
  font-size: 17px;
}

.footertxt
{
  font-size: 11px;
  text-shadow: #ffffff 1px 1px 0px;
  color: #6d624e;
  padding-left: 15px;
  padding-right: 15px;
}

.footertxt2
{
  position: absolute;
  bottom: 0px;
  padding-bottom: 5px;
}

.footertxt h3
{
  padding-top: 15px;
  margin-bottom: 10px;
  color: #372f1f;
  text-shadow: #ffffff 1px 1px 0px;
  font-weight: normal;
  font-size: 15px;
}

.footertxt ul
{
  padding: 0px;
  margin: 0px;
}

.footertxt li
{
  font-size: 13px;
  list-style-type:none; 
  text-shadow: #ffffff 1px 1px 0px;
  padding-bottom: 4px;
}

.footertxt a:visited, .footertxt a:active, .footertxt a:link {
  color: #6d624e;
  text-decoration: none;
}

.footertxt a:hover, .footertxt a:visited:hover {
  color: #000000;
  text-decoration: none;
}

.team
{
  padding: 13px;
}

.team h2, .team h3
{
  padding: 0px;
  margin: 0px;
  padding-bottom: 3px;
}

.teamhead
{
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
}

.padtop
{
  padding-top: 15px;
}

.padtop2
{
  padding-top: 25px;
}

#d_iphone
{
}

#btn_iphone
{
  display: block;
  width: 109px;
  height: 57px;
  background: url(http://static.stickybits.com/web/images/btn_iphone.png) no-repeat 0 0;

}

#btn_iphone:focus
{
    outline: none; 
}

#btn_iphone:hover
{ 
  background-position: -111px 0;
}

#btn_iphone:active
{ 
  background-position: -222px 0;
}

#d_android
{
}

#btn_android
{
  display: block;
  width: 109px;
  height: 57px;
  background: url(http://static.stickybits.com/web/images/btn_android.png) no-repeat 0 0;
}

#btn_android:focus
{
    outline: none; 
}

#btn_android:hover
{ 
  background-position: -110px 0;
}

#btn_android:active
{ 
  background-position: -220px 0;
}

#statusmsg
{
  background-color: #236bff;
  width: 90%;
  font-size:18px;
  color: #ffffff;
  text-shadow: none;
  padding: 10px;
  margin: 20px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#textarea
{
  font-size: 15px;
  color: #494949;
  width: 450px;
  height: 100px;
}

#btn_attach
{
  display: block;
  width: 182px;
  height: 54px;
  background: url(http://static.stickybits.com/web/images/btn_attach.png) no-repeat 0 0;

}

#btn_attach:focus
{
    outline: none; 
}

#btn_attach:hover
{ 
  background-position: -186px 0;
}

#btn_attach:active
{ 
  background-position: -372px 0;
}

input
{
  font-size: 15px;
  color: #494949;
}

#btn_login_big
{
  display: block;
  width: 161px;
  height: 54px;
  background: url(http://static.stickybits.com/web/images/btn_login_big.png) no-repeat 0 0;

}

#btn_login_big:focus
{
    outline: none; 
}

#btn_login_big:hover
{ 
  background-position: -164px 0;
}

#btn_login_big:active
{ 
  background-position: -328px 0;
}

#btn_signup_big
{
  display: block;
  width: 161px;
  height: 54px;
  background: url(http://static.stickybits.com/web/images/btn_signup_big.png) no-repeat 0 0;

}

#btn_signup_big:focus
{
    outline: none; 
}

#btn_signup_big:hover
{ 
  background-position: -164px 0;
}

#btn_signup_big:active
{ 
  background-position: -328px 0;
}

#btn_download_big
{
  display: block;
  width: 261px;
  height: 54px;
  background: url(http://static.stickybits.com/web/images/btn_download_big.png) no-repeat 0 0;
}

#btn_download_big:focus
{
    outline: none; 
}

#btn_download_big:hover
{ 
  background-position: -268px 0;
}

#btn_download_big:active
{ 
  background-position: -536px 0;
}

.btn_facebook
{
  display: block;
  width: 176px;
  height: 31px;
  background: url(http://static.stickybits.com/web/images/btn_facebook.png) no-repeat 0 0;
}


.productcell
{
  padding-top: 55px;
}

.btn_customize:focus
{
    outline: none; 
}

.btn_customize
{
  display: block;
  width: 164px;
  height: 59px;
  background: url(http://static.stickybits.com/web/images/btn_customize.png) no-repeat 0 0;
  margin-top: 15px;
}

.btn_customize:hover
{ 
  background-position: -168px 0;
}

.btn_customize:active
{ 
  background-position: -336px 0;
}

.media
{
  padding: 10px;
}

.media_image, .media_video
{
  text-align: right;
  padding-bottom: 5px;
  position: relative;
}

.media_image2, .media_video2
{
  text-align: left;
  padding-bottom: 5px;
  position: relative;
}

.media_image img, .media_video img, .media_image2 img, .media_video2 img
{
  border: 5px solid #fff;
}

.media_vidplay
{
  background: url(http://static.stickybits.com/web/images/video-play.png) no-repeat top left;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 41%;
  top: 35%;
}

.mediacontainer
{
  clear: both;
}

.mediah1
{
  padding-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.media_info
{
  text-align: right;
  margin-bottom: 10px;
}

.media_info2
{
  text-align: left;
  margin-top: 10px;
}

.media_time
{
  font-size: 11px;
}

.media_file
{
  text-align: right;
}

.media_file2
{
  text-align: left;
}

.comment
{
  border: 1px solid #ada699;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: url(http://static.stickybits.com/web/images/icon_chat.png) no-repeat 10px 3px;
}

.comment2
{
  width: 500px;
  padding: 10px;
  padding-top: 50px;
  background: url(http://static.stickybits.com/web/images/icon_chat.png) no-repeat 10px 3px;
}

.bit
{
  border: 1px solid #ada699;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.scan
{
  display: block;
  width: 500px;
  border: 1px solid #ada699;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;  
  text-decoration: none;
}

.scan:hover, .scan a:visited:hover
{
  background-color: #ada699;
  text-decoration: none;
}

.scan a:visited, .scan a:active, .scan a:link {
  text-decoration: none;
}

.scan_title
{
}

.scan_loc
{
}

.scan h3
{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.scan img
{
   margin-right: 10px;
   border: 5px solid #ffffff;
}

.scan table
{
  margin-bottom: 20px;
}

#maparea
{
  width: 500px;
  height: 350px;
}

#map
{
  display: none;
  position: absolute;
  border: 10px solid #ffffff;
  background-color: #ffffff;
  z-index: 5000;
}

#mapclose
{
  width: 66px;
  height: 22px;
  display: block;
  background: url(http://static.stickybits.com/web/images/lightbox-btn-close.gif) no-repeat top left;
  float: right;
}

.avatar
{
  padding: 5px;
  float: left;
}

#userinfo td
{
  font-size: 20px;
}

.quotebox
{
  clear: both;
  border: 1px solid #ada699;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;  
  position: relative;
}

.quotebox2
{
  bottom: 10px;
  right: 10px;
  position: absolute;
}
