/*
 *      Mobile UI
 */


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin:-13px 0 0;
    padding:0;
    color: #333;

}


.container {
	 background: #FFF;
    padding: 0 10px 5px;
    text-align: left;
    max-width: 700px;
}

p {
    line-height: 15px;
    margin-top:10px;
    margin-bottom:10px;
}

a {
    text-decoration: none;
    color: #369;
padding:3px;
}

a:hover {
    background: #EEE !important;
-moz-border-radius: 10px;
-webkit-border-radius:10px;
}

img:hover {
	background:none;
}

input, textarea {
    width: 290px;
    font-size: 14px;
  font-family:arial;
}


input.placeholder, textarea.placeholder { color: #a9a9a9 !important; }

input.text, textarea.text {
    border: 1px solid #aaa;
    padding: 3px 4px 4px 4px;
}

input.button {
height:27px;
display:block;
width:300px;
color:#000;
border-color:#666;
background: #9cacc0 url(/images/toolbar.png) repeat-x; 
-moz-border-radius: 10px;
-webkit-border-radius:10px;
}

textarea {
    border: 1px solid #8496BA;
    /*width:300px;*/
    /*height:30px;*/
}


h1{
	font-size: 25px;

	color: #369;
	font-weight:bold;
	text-shadow: #999 0 1px 0;

}
h1, h2, h3 {
    line-height: 1;

    color: #005B8B;
    font-weight: bold;
}

h2 { font-size: 15px; color: #369; margin-bottom: 6px; }
h3 { font-size:0.9em;}

.secondary {

    font-size: 11px;
    margin-top:2px;
}

a{
cursor:pointer;
}

ul {
    padding:0;
    margin-left:0;
}

ul li {
    margin: 5px 0px 25px 16px;
    font-size:17px;
}

ul li ul li { 
list-style-type: circle; 
 margin: 5px 0px 3px 6px;
font-size: 15px;
}

label {
    display: block;
    margin-top:15px;
    margin-bottom:3px;
    font-weight:bold;
}

.hr { border-bottom: 1px solid #ddd; }


.center {
    text-align:center;
}

img {
    border:0;
}

a img {
    border:0;
}

p {
	text-align:left;
}
p a, ul a{
	text-decoration:underline;
}

/* Font @end */


/* Footer */

#footer {
    margin-top:20px;
    padding:0;
    height:30px;

}

#footer .container{
	height: 35px;
	-moz-border-radius: 10px;
-webkit-border-radius:10px;
}

#footer a {
    font-weight:bold;
}






/* aristo theme */


.ui-state-notify, .ui-widget-content .ui-state-notify {border: 1px solid #e2d0d0; background: #fcf0f0; color: #280b0b; -moz-border-radius: 0px !important; -webkit-border-radius: 0px !important; border-radius: 0px !important; font-size: 11px; }
.ui-state-notify a, .ui-widget-content .ui-state-notify a { color: #280b0b; }


/* utils */

.clear {
    clear:both;
}


.pad {
    margin:0 10px 0 10px;
}
