  

  <div id="api_response">

	<div class="response_data" style="display:none;" >
	
	
	<!-- Populated with a facsimile of the request headers. -->
<pre id="request_pre" class="request" style="overflow-x: visible; overflow-y: visible; ">
<code id="request">GET <span id="request_path"></span> HTTP/1.1
Host: stickybits.com
Accept: application/json
</code></pre>

<!-- Populated with the response headers/body. -->
<pre id="response_pre" style="overflow-x: hidden; overflow-y: hidden; ">
<code id="response_headers">
{{ status_code }}
{% for key, value in headers %}{{ key }}: {{ value }}
{% endfor %}
</code>
<code class="json" id="response_body"> {{ content|safe }}
</code></pre>
	
	
	
	
	
	</div>

  </div>
  
