<div id="main" class="clearfix">
				  

<!-- Address Bar -->
<h1>API Explorer</h1>

<div class="explorer-nav" >
<div id="apis">
{% for api in apis %}
<a id="{{ api.name }}" class="nav-api" style="float:left">
<span>{{ api.name }}</span>
</a>
{% endfor %}
</div>
</div>



<div class="address-bar-container clearfix">
	
	<div id="address_bar" class="address-bar clearfix">
	
	<div id="methods">
{% for api in apis %}
<div class="api-methods" id="{{ api.name }}" style="display:none;">
{% for method in api.methods %}
<a id="{{ method.name }}" query="{{ method.query }}"  class="nav-method" >
<span>{{ method.name }}</span>
</a>
{% endfor %}
</div>
{% endfor %}
</div>

	
		<div class="input">{{ api_base }}<span class="path" style="font-weight:bold;"></span><input type="text" id="path" value=""></div> 
		<a href="#" class="submit" id="submit"><span>Make Request</span></a>  	     
	</div>     

	<form id="description" style="clear:both;">
	<div style="display:none; float:left;">Method Name: </div>
	<div id="descriptions">
	{% for api in apis %}
	{% for method in api.methods %}
		<div id="{{ method.name }}" class="description" style="display:none;"><p><strong>{{ method.name }}</strong>: {{ method.description }}</p></div>
		{% endfor %}
		{% endfor %}
  	</div>
  	

	</form>
	
</div>


  <div id="api_response_container">
  <div id="response_loading" style="font-family: monospace; display:none;"><img src="/images/mini_loader.gif"/> making request...</div>
  <div id="inner">
  
  </div>
  </div>

				</div>
