{% extends "base.html" %}

{% block main %}
<div id="follow-stickybits" style="height:50px;"></div>
<div id="twitter-connect-placeholder" style="height:50px;"></div>


<div id="ajax" style="display:none;">
	
	<img src="/images/ajax-loader.gif" style="padding: 5px; float:left; margin-right:10px;"/> <h2 style=" float:left;">Loading...</h2>
	
</div>



<div style="clear:both; height:1px;"></div>

  <div id="header" style="text-align:left; margin-bottom:10px;">

	<h2>Interested in building on the <a href="http://code.google.com/p/stickybits/" style="color:#ff1c80; font-size: 1.1em;">stickybits</a> platform?<div style="height:3px;"></div> E-mail <a href="mailto:james@stickybits.com" style="color:#ff1c80; font-size: 1.1em;">james@stickybits.com</a></h2>
</div>

{% comment %}

{% endcomment %}


  			

{% endblock %}
