{% extends "base.html" %}

{% block main %}

  <div id="header" style="text-align:left; margin-bottom:10px;">
	<h2>this app is built with the <a href="http://code.google.com/p/stickybits/" style="color:#ff1c80; font-size: 1.1em;">stickybits API</a> </h2>
</div>

{% comment %}
<div class="ui-widget" style="max-width:460px;">
			<div class="ui-state-notify ui-corner-all" style="padding: 0 .7em;"> 
				<p style="font-size:12px;">
				<img src="/images/email.png" style="float:left;margin: -8px 3px 0px -4px;"/> E-mail barcode photos to <a style="font-size: 1.2em;" href="mailto://upload@stickybits.com">upload@stickybits.com</a></p>
			<div class="ui-state-notify ui-corner-all"  style="height:30px; text-align:center; margin: 10px; height: 70px; max-width: 300px;  " class="instructions">
			<br/><br/>OS-specific instructions
			</div>
			
			</div>
		</div>
{% endcomment %}

<form method="POST" action="http://dev3.stickybits.com/api/1/bit.add?apikey=c1e1928908a544dbc15b5e0231887a58&title=chill+murray%21&codeid=0833050009958" enctype="multipart/form-data">
      <input type="file" name="file" size="50">
      <input type="submit" name="btn_submit">
  </form>
<br/>
<h2 >stickybits stream</h2>
<ul>
{% for stream in stickybits_streams %}
  <li><strong>{{ stream.name }}</strong>
  <ul>
    {% for item in stream.items %}
  <li>{{ item|safe }}</li>
  {% endfor %}
  </ul>
  </li>
  {% endfor %}
  </ul>


<h2 >twitter stream</h2>
<ul>
{% for stream in twitter_streams %}
  <li><strong>{{ stream.name }}</strong>
  <ul>
    {% for item in stream.items %}
  <li>{{ item.text|safe }}</li>
  {% endfor %}
  </ul>
  </li>
  {% endfor %}
  </ul>
  			

{% endblock %}
